body {
  background-color: #92b4a7;
  font-family: "Lato", sans-serif;
}

header {
  display: flex;
  align-items: center;
  width: 100vw;
  position: fixed;
  top: 0;
  background: #92b4a7;
  padding-top: 20px;
}

.logo_container {
  flex: 1;
  text-align: center;
}

.header-img {
  height: 90px;
}

.nav-bar {
  display: flex;
  justify-content: flex-end;
  flex: 4;
  text-align: center;
}

.nav-link {
  font-size: 18px;
  padding-left: 60px;
  padding-right: 60px;
  color: black;
}

.nav-link:hover {
  font-size: 22px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 120px 0px 20px 0px;
}

.story {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.icon_container {
  position: relative;
  width: 200px;
}

.icon {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -30px;
  z-index: -1;
}

.story_text {
  max-width: 800px;
}

.text_h2 {
  margin-bottom: 0;
}

.text_p {
  margin-top: 0;
  font-size: 18px;
}

.brewing {
  text-align: center;
  padding: 50px 0px;
}

.beers {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.beer_image {
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.beer {
  margin: 20px;
  background-color: rgb(255, 196, 0);
  border-radius: 10px;
}

.beer p {
  font-size: 18px;
  padding-bottom: 20px;
}

.beer_link {
  color: black;
  text-decoration: none;
}

.beer:hover {
  box-shadow: 0 0 20px rgb(92, 92, 92);
  filter: brightness(107%);
}

.nav-link {
  text-decoration: none;
}

.newsletter {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input_email {
  max-width: 450px;
  width: 100%;
  font-size: 17px;
  margin-bottom: 20px;
  text-align: center;
  padding: 3px 0px;
  border-radius: 5px;
  box-shadow: inset 0.5px 0.5px 0.5px 0.5px grey;
}

.input_submit {
  font-size: 18px;
  padding: 5px 35px;
  border-radius: 3px;
  border: 1px solid black;
  background-color: white;
}

.input_submit:hover {
  background-color: rgb(255, 196, 0);
}

footer {
  background-color: #8c8a93;
  color: #d1f0b1;
  padding: 10px;
  margin-top: 50px;
}

.footer_link {
  color: #d1f0b1;
  text-decoration: none;
}

.icon_link {
  color: #d1f0b1;
  text-decoration: none;
}

#footer-nav {
  padding-bottom: 20px;
}

@media (max-width: 1000px) {
  header {
    flex-direction: column;
  }

  .nav-bar {
    padding-top: 10px;
  }

  h1 {
    padding-top: 160px;
  }
}

@media (max-width: 900px) {
  .beers {
    flex-direction: column;
    width: 350px;
  }
}

@media (max-width: 600px) {
  .nav-bar {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
  }

  .nav-link {
    padding-top: 5px;
  }

  h1 {
    padding-top: 220px;
  }

  iframe {
    width: 100%;
  }
}